<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body class="container">
<h1>Home Page</h1><br>

<div class="container">
    <h3>
        Welcome, <i th:text="${session.employeeLoggedIn}"></i>
        <a class="navbar-brand" href="#" th:href="@{/employee/logout}">Log out</a>
    </h3>

    <h4 style="color: red" th:if="model.error_UploadFile == false"> Upload file error!</h4>

    <!--    Upload File-->
    <div>
        <span>Upload new file</span>
        <form th:action="@{|/employee/${session.employeeID}/file|}" method="POST"
              enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="files" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload File</button>
        </form>
    </div>
    <!--    Upload File-->
    <br><br>

    <h4 style="color: green">Your Files</h4>
    <!--    List file-->
    <table border="2px solid gray" style="margin: 3px; padding: 3px">
        <thead style="text-align: center">
        <td>File name</td>
        <td>File size</td>
        <td>Created Date</td>
        <td>Downloadable link</td>
        <td></td>
        </thead>

        <tbody>
        <th:block th:each="file : ${authorizedFiles}">
            <tr>
                <td style="margin: 10px" th:text="${file.getFileName()}"></td>
                <td style="margin: 10px" th:text="${file.getFileSizeInMegaByte()}"></td>
                <td style="margin: 10px" th:text="${file.getCreatedOn()}"></td>
                <td style="margin: 10px">
                    <a th:href="@{|/download/${file.getGeneratedLink()}|}"
                       th:text="${file.getGeneratedLink()}"
                       th:target="_blank"></a>
                </td>
                <td style="margin: 10px">
                    <a th:href="@{|/employee/${session.employeeID}/file/generate?fileID=${file.fileID}|}">
                        <button>Generate/Refresh</button>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!--    List file-->

    <br><br>
    <!--    Download shared file form-->
    <form th:action="@{/download/from-form}" th:object="${formDownloadRequestDTO}" method="POST">
        <div class="form-group">
            <label class="control-label">Paste shared downloadable link here</label>
            <input class="form-control" th:field="*{generatedLink}"/>
        </div>
        <button type="submit" class="btn btn-success">Download</button>
    </form>
    <!--    Download shared file form-->

</div>
</body>
</html>
